.babies-container {
    position: relative;
    height: 100%;
    width: 100%;

	.baby {
		position: absolute;
		display: inline-block;
		width: 100px;
		height: 200px;

        &.gridElement {
            border: 1px solid red;
        }

        .the-baby{
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform .1s ease;
            transform: translate3d(-50%, 0%, 0);

            &:after {
                display: block;
                content: '';
                position: absolute;
                z-index: -1;
                left: 50px;
                right: 60px;
                bottom: -7px;
                height: 30px;
                width: calc(100% - 120px);
                border-radius: 100%;
                background: rgba($purple,.18);
                filter: blur(10px);
            }

            .wrapper {
                display: none;
                padding: 10px;
                opacity: 0;
                width: 100%;
                height: 100%;
                background: black;

                span {
                    display: block;
                    color: white;
                }
            }
        }

        span.baby-bg {
            position: absolute;
            z-index: 1;
            display: block;
            width: 200px;
            height: 200px;
            background: url("../images/baby-placeholder.png");
            background-size: cover;
        }

        &.hover {
			// border: 1px solid red;
		}

        &:hover {
            > .wrapper {
                opacity: 1;
            }
        }
	}

}
