.babies-container {
    position: relative;
    height: 100%;
    width: 100%;

	.baby {
		position: absolute;
		display: inline-block;
		width: 100px;
		height: 200px;

        &.hovered {
            // cursor: url(/images/cursor.png), auto;
        }

        &.gridElement {
            border: 1px solid red;
        }

        .the-baby{
            position: absolute;
            width: 100%;
            height: 100%;
            transition: transform .15s ease;
            left: -50%;

            &:after {
                display: block;
                content: '';
                position: absolute;
                z-index: -1;
                left: 50px;
                right: 60px;
                bottom: -7px;
                height: 30px;
                width: calc(100% - 120px);
                border-radius: 100%;
                background: rgba($purple,.18);
                filter: blur(10px);
            }

            .wrapper {
                display: none;
                padding: 10px;
                opacity: 0;
                width: 100%;
                height: 100%;
                background: black;

                span {
                    display: block;
                    color: white;
                }
            }
        }

        span.baby-bg {
            position: absolute;
            z-index: 1;
            display: block;
            left: 0;
            top: 0;
            width: 200px;
            height: 200px;
            background-size: cover;

            &.moving {
                z-index: -1;
                opacity: 0;
            }
        }

        .baby-pieces {
            position: relative;
            left: 0;
            top: 0;
            width: 200px;
            height: 200px;
            display: block;
            opacity: 0;
            z-index: -1;

            &.moving {
                opacity: 1;
            }

            span.baby-body {
                position: absolute;
                width: 100px;
                top: 0;
                bottom: 0;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
                text-align: center;
                z-index: 2;
                
                img {
                    height: 100%;
                    width: auto;
                }
            }
            span.baby-arm-right {
                left: 25px;
                transform-origin: 100% 0%; 
            }
            span.baby-arm-left {
                right: 25px;
                transform-origin: 0% 0%;
            }

            span.baby-arm-right,
            span.baby-arm-left {
                position: absolute;
                width: 65px;
                top: 55px;
                transition: transform .1s ease;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &.hover {
			// border: 1px solid red;
		}

        &:hover {
            > .wrapper {
                opacity: 1;
            }
        }
	}

}
