section.babies-board {
    width: 3000px;
    height: 1666px;
    border: 5px solid red;
    background: url(http://assets.podcollective.com/phong/world.patterns/egypt-V1/EGYPT-C-PATTERN.png);
    transition: all ease-out .45s;
}
