section.final--screen {
    position: absolute;
    z-index: 200;
    width: 100vw;
    height: 100vh;
    background: $light;
    padding: 20px;
    text-align: center;
    opacity: 0;
    transform: scale(.95);
}
