section.form {
    position: absolute;
    top: 50%;
    transform: translate3d(0,-50%,0) scale(.95);
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 400px;
    background: $light;
    padding: 0;
    box-shadow: 0 0 50px rgba($dark,.3);
    overflow: hidden;

    &.displayed {
        z-index: 20;
    }

    .form--container {
        max-width: 1400px;
        margin: 0 auto;
        height: inherit;
        display: flex;

        &--left, &--right {
            display: flex;
            display: inline-block;
            white-space: nowrap;
        }

        &--left {
            width: 400px;

            > img.gif-baby {
                width: 400px;
                height: 400px;
            }
        }

        &--right {
            width: 100%;
            padding: 20px;
        }
    }

    .form--close {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}
