section.form {
    position: absolute;
    top: 50%;
    transform: translate3d(0,-50%,0) scale(.95);
    z-index: -1;
    opacity: 0;
    width: 100%;
    height: 340px;
    background: $light;
    padding: 0;
    box-shadow: 0 0 50px rgba($purple,.15);
    overflow: hidden;

    &.displayed {
        z-index: 20;
    }

    .form--container {
        max-width: 1450px;
        margin: 0 auto;
        height: inherit;
        display: flex;

        &--left, &--right {
            display: flex;
            display: inline-block;
            white-space: nowrap;
        }

        &--left {
            width: 340px;

            > img.gif-baby {
                width: 340px;
            }
        }

        &--right {
            position: relative;
            width: 100%;
            padding: 20px;
        }
    }

    button.form--close {
        position: absolute;
        top: 20px;
        right: 20px;
        height: 30px;
        width: 32px;
        background: url(/images/UI/form-close.png);

        &:hover {
            transform: rotate(180deg);
        }
    }

    button.form--previous-step {
        position: absolute;
        bottom: 20px;
        right: 20px;
        width: 70px;
        text-align: center;
        padding: 0;
        text-transform: none;
        background-color: transparent;
        font-family: $font-m1mregular;
        color: $grey;
        font-size: 14px;
        height: 35px;
        background: url(/images/UI/form-arrow.svg) no-repeat top center;

        span {
            position: absolute;
            display: inline-block;
            text-align: center;
            width: 100%;
            height: 20px;
            line-height: 20px;
            right: 0;
            bottom: 0;
        }
    }
    
    .form--answers {
        width: auto;
        padding: 0;
        margin: 0;
    }
    
    .form--answers--item {
        cursor: pointer;
        height: 65px;
        display: inline-block;
        padding: 5px 0;
        margin-right: 70px;
        
        @include MQ(laptop-xl) {
            margin-right: 45px;
        }

        > button, > .item--answer {
            display: inline-block;
            vertical-align: top;
        }

        .item--answer {
            margin-left: 15px;
            max-width: 100px;
            height: 55px;
            position: relative;
            word-wrap: break-word;
            white-space: initial;

            > p {
                position: relative;
                top: 50%;
                transform: translate3d(0,-50%,0);
                height: auto;
                line-height: 15px;
                font-size: 14px;
                text-transform: uppercase;
                font-family: $font-m1mbold;
                letter-spacing: 0.1em;
                color: $blue;
                font-weight: bold;
            }
        }

        &:hover {
            button.key > span.key--content {
                background: $yellow;
            }
        }

        &.selected {
            button.key > span.key--content {
                background: $yellow;
                transform: translate3d(0,4px,0);
            }
        }
    }

    .right--intro, .right--questions, .right--summary, .right--mail {
        width: 100%;
        height: 300px;
        position: relative;

        > .content-centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-50%,-50%,0);
        }

        button.key-enter {
            position: relative;
            display: block;
            margin: 0 auto;
            margin-top: 30px;
            width: 100%;
            height: 104px;
            max-width: 110px;
            max-height: 104px;
            padding: 0;
            background: url(/images/UI/key-enter.svg) no-repeat bottom center;

            > p {
                position: absolute;
                top: 15px;
                left: 50%;
                transform: translate3d(-50%,0,0);
                color: $blue;
                font-family: $font-m1mbold;
                text-transform: uppercase;
                font-size: 14px;
                line-height: 14px;
                letter-spacing: .1em;
            }

            &:hover {
                background: url(/images/UI/key-enter-hover.svg) no-repeat bottom center;

                > p {
                    transform: translate3d(-50%,5px,0);
                }
            }
        }
    }

    .right--intro {
        text-align: center;
        font-family: $font-silkscreen;
        transform: translate3d(0,400px,0);

        span {
            display: inline-block;
            font-size: 20px;
            text-transform: uppercase;
            color: $blue;
            margin-bottom: 10px;
            letter-spacing: -0.1em;
        }

        p {
            font-size: 16px;
            line-height: 20px;
            color: $grey;
            font-family: $font-m1mregular;
            letter-spacing: 0;
        }
    }

    .right--questions {

        > .content-centered {
            width: 100%;
        }

        span.question {
            display: block;
            text-transform: uppercase;
            color: $blue;
            font-size: 18px;
            margin-bottom: 20px;
            font-family: $font-silkscreen;

            small {
                font-size: 14px;
            }
        }
    }

    .right--summary {
        text-align: center;

        > .content-centered > span {
            position: relative;
            font-size: 35px;
            text-transform: uppercase;
            color: $blue;
            font-family: $font-silkscreen;
            letter-spacing: -0.1em;
            margin-bottom: 0;
            
            &:before {
                position: absolute;
                bottom: -1px;
                left: 0;
                height: 10px;
                width: 100%;
                z-index: -1;
                content: '';
                display: block;
                background: $yellow;
            }

            small {
                font-size: 20px;
                margin-left: 5px;
            }
        }

        ul {
            margin-top: 0;
            margin-bottom: 50px;
            display: block;
            font-family: $font-silkscreen;
            color: $blue;

            li {
                display: inline-block;
                font-size: 25px;
                margin-right: 25px;
                letter-spacing: -0.1em;

                &:last-child {
                    margin-right: 0;
                }

                small {
                    letter-spacing: .1em;
                    font-size: 14px;
                    margin-left: 3px;
                    text-transform: uppercase;
                    font-family: $font-m1mbold;
                }
            }
        }

        button.key.spacebar {
            margin-top: 0;
            margin-bottom: 0;

            &:hover {
                span.key--content {
                    background: $yellow;
                }
            }

            &.selected {
                span.key--content {
                    background: $yellow;
                    transform: translate3d(0,4px,0);
                }
            }
        }
    }

    .right--mail {
        > .content-centered {
            width: 100%;
            text-align: left;
        }

        > .content-centered > span {
            display: inline-block;
            font-size: 18px;
            text-transform: uppercase;
            color: $blue;
            font-family: $font-silkscreen;
            margin-bottom: 15px;
        }

        .content-centered > .mail--form{
            display: flex;
        }

        .textarea-section {
            width: 100%;

            textarea, input {
                display: block;
                width: 100%;
                resize: none;
                height: 120px;
                outline: 0;
                padding: 10px;
                font-size: 16px;
                font-family: $font-m1mregular;
                border: 1px solid $grey;
                color: $grey;

                &:focus {
                    color: $blue;
                }

                &::-webkit-scrollbar {
                    width: 15px;
                    height: 18px;
                }
                &::-webkit-scrollbar-thumb {
                    height: 6px;
                    width: 5px;
                    border: 5px solid rgba(0, 0, 0, 0);
                    background-clip: padding-box;
                    border-radius: 20px;
                    background-color: $blue;
                }
                &::-webkit-scrollbar-button {
                    width: 0;
                    height: 0;
                    display: none;
                }
                &::-webkit-scrollbar-corner {
                    background-color: transparent;
                }
            }

            input {
                display: inline-block;
                vertical-align: top;
                width: 200px;
                height: 40px;
                line-height: 40px;
            }

            .input-group {
                height: 40px;
                padding: 0;
                margin-top: 15px;
                width: 100%;
            }

            .input-error {
                vertical-align: top;
                position: relative;
                margin-left: 16px;
                display: inline-block;
                font-size: 12px;
                font-family: $font-m1mregular;
                color: $blue;
                height: 40px;
                line-height: 40px;

                &:before {
                    position: absolute;
                    bottom: 12px;
                    left: -6px;
                    height: 8px;
                    width: calc(100% + 6px);
                    z-index: -1;
                    content: '';
                    display: block;
                    background: $yellow;
                }
            }
        }

        .send-section {
            width: 300px;

            button.key-enter {
                margin-top: 15px;
            }
        }
    }
}
