div.title-container {
	display: block;
	max-width: 460px;
	color: $blue;
	text-align: center;

	h1 {
		position: relative;
		margin: 0 auto;
		font-size: 21px;
		line-height: 31px;
		text-transform: uppercase;
		text-align: center;
		letter-spacing: 1px;
		font-family: $font-silkscreen;
		letter-spacing: -0.1em;

		span {
			padding: 0 5px 5px 5px;
			text-decoration: none;
			background-image: linear-gradient(to right, $yellow 0%, $yellow 100%);
			background-repeat: repeat-x;
			background-position: 0 95%;
			background-size: 100% 15px;
		}
	}

	p {
		// margin-left: 10%;
		font-size: 14px;
		letter-spacing: 1.2px;
		text-align: center;
		font-family: $font-m1mbold;
	}

	> button.key.spacebar {
		> span.key--content {
			position: relative;
			overflow: hidden;

			& > div.progress {
				position: absolute;
				top: 0;
				left: -10%;
				height: 100%;
				width: 10%;
				background: $yellow;
				border-radius: 50px;
				z-index: -1;
			}
		}
	}

}
