footer.main-footer {
    position: absolute;
    height: 130px;
    bottom: 0;
    z-index: 10;
    font-family: $font-m1mregular;

    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 90px;
        height: 90px;
        background: $blue-a9;

        img {
            display: block;
            max-width: 80%;
            margin: 0 auto;
            padding-top: 10px;
        }
    }

    .misc {
        position: absolute;
        top: 20px;
        left: 120px;
        margin-left: 20px;
        padding-top: 15px;
        font-size: 16px;
        font-weight: bold;

        &--buttons {
            height: 35px;
            width: 250px;

            button {
                margin-right: 10px;
                font-family: $font-m1mbold;
                letter-spacing: 1.2px;
            }
        }

        &--copyright {
            height: 35px;
            line-height: 35px;
            width: 400px;

            p {
                margin: 0;
                color: $blue;
            }

            a {
                color: $blue;
                font-weight: bold;
                text-decoration: none;
                font-family: $font-m1mbold;
            }
        }
    }
}

nav.main-filter {
    position: absolute;
    height: 80px;
    width: 80px;
    top: 20px;
    right: 20px;
    z-index: 10;

    > button.filter-babies {
        width: 100%;
        height: 100%;
        background-color: $blue;
        &:hover {
            .shapes {
                &.fill-yellow { animation: shapeFitOut .4s ease forwards; }
            }
        }

        .shapes {
            position: relative;
            margin-top: -10px;
            width: 50px;
            height: 50px;
            z-index: 1;

            &.fill-yellow {
                position: absolute;
                margin-top: 0;
                bottom: 20px;
                z-index: 2;
                transform: rotate(30deg) scale(1);
                animation: shapeFitIn .6s ease forwards;
                // transition: transform .3s ease-in-out;

                .shapes__item {
                    border: none;
                    background-color: $yellow;
                }
                span.triangle {
                    background: none;
                    border-bottom: 18px solid $yellow;
                    border-right: 11px solid transparent;
                    border-left: 11px solid transparent;
                    &::before { display: none; }
                }
            }

            &__item {
                position: absolute;
                content: '';
                background: $blue;
                border-color: $light;
            }

            span.circle {
                bottom: -1px;
                left: 0;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                border: 3px solid;
            }
            span.triangle {
                bottom: 30px;
                left: 50%;
                transform: translate3d(-50%, 0, 0);
                width: 0;
                height: 0;
                border-bottom: 18px solid $light;
                border-right: 11px solid transparent;
                border-left: 11px solid transparent;
                &::before {
                   position: absolute;
                   content: '';
                   left: -6px;
                   top: 6px;
                   width: 0;
                   height: 0;
                   border-bottom: 9px solid $blue;
                   border-right: 6px solid transparent;
                   border-left: 6px solid transparent; 
                }
            }
            span.square {
                right: 0;
                bottom: 0;
                width: 16px;
                height: 16px;
                border: 3px solid;
            }
        }
    }
}

nav.controls {
    position: absolute;
    display: flex;
    align-items: flex-end;
    bottom: 0;
    right: 0;
    height: 90px; 
    padding: 0 20px 20px 0;
    z-index: 10;
    overflow: hidden;

    .controls--arrows {
        display: inline-block;
        position: relative;
        width: 90px;
        height: 55px;
        margin-right: 20px;
        transform: translate3d(0, 0, 0);
        transition: transform .3s ease-in-out;

        &.hidden {
            transform: translate3d(0, 100px, 0);
        }

        > button {
            position: absolute;

            &:hover { 
                cursor: default;
                span.key--content { 
                    transform: translate3d(0, 0, 0);
                    background-color: $light;
                }
            }

            &.arrow-top {
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                span.key--content {
                    line-height: 24px;
                    img { transform: rotate(90deg); }
                }
            }

            &.arrow-left {
                left: 0;
                bottom: 0;
            }

            &.arrow-bottom {
                bottom: 0;
                left: 50%;
                transform: translateX(-50%);
                span.key--content {
                    img { transform: rotate(-90deg); }
                }
            }

            &.arrow-right {
                right: 0;
                bottom: 0;
                span.key--content {
                    img { transform: rotate(-180deg); }
                }
            }

            span.key--content {
                line-height: 26px;
                img {
                    width: 16px;
                    height: 16px;
                }
            }
        }
    }

    .controls--sound {
        position: relative;
        display: inline-block;
        width: 36px;
        height: 40px;
        transform: scale(1);
        transition: transform .3s ease;
        &:hover {
            transform: scale(1.1);
        }
        &.active {
            &::before { width: 35px; }
        }
        &::before {
            position: absolute;
            content: '';
            top: 75%;
            left: 5px;
            width: 0px;
            height: 3px;
            background-color: $blue;
            transform-origin: 0 0;
            transform: translate3d(0, -50%, 0) rotate(-45deg);
            transition: width .3s ease;
        }
        &:hover {
            cursor: pointer;
        }
    }
}

@keyframes shapeFitOut {
    0% { transform: rotate(30deg) scale(1); }
    50% { transform: rotate(15deg) scale(1.2); }
    100% { transform: rotate(0deg) scale(1); }
}

@keyframes shapeFitIn {
    0% { transform: rotate(0deg) scale(1); }
    50% { transform: rotate(15deg) scale(1.2); }
    100% { transform: rotate(30deg) scale(1); }
}
