footer.main-footer {
    position: absolute;
    height: 130px;
    bottom: 0;
    z-index: 10;

    .logo {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 90px;
        height: 90px;
        background: $blue-a9;

        img {
            display: block;
            max-width: 80%;
            margin: 0 auto;
            padding-top: 10px;
        }
    }

    .misc {
        position: absolute;
        top: 20px;
        left: 120px;
        margin-left: 20px;
        padding-top: 15px;
        font-size: 16px;
        font-weight: bold;

        &--buttons {
            height: 35px;
            width: 250px;

            button {
                margin-right: 10px;
            }
        }

        &--copyright {
            height: 35px;
            line-height: 35px;
            width: 400px;

            p {
                margin: 0;
                color: $blue;
                font-style: italic;
            }

            a {
                color: $blue;
                font-weight: bold;
                text-decoration: none;
            }
        }
    }
}

nav.main-filter {
    position: absolute;
    height: 130px;
    top: 0;
    right: 0;
    z-index: 10;

    > button.filter-babies {
        margin-top: 20px;
        margin-right: 20px;
        border: 0;
        padding: 0 40px;
        line-height: 80px;
        height: 80px;
        display: block;
        background: $blue-a9;
    }
}
