// Colors variables
$light: 	#FFF;
$dark: 		#444;
$grey:      #b9b9b9;
$blue: 		#3364FF;
$blue-a9: rgba($blue,.9);
$blue-a5: rgba($blue,.5);
$purple: 	#51277D;
$yellow: 	#fff203;

// Light colors
$yellow-l: #f5fcd3;
$blue-l: #b9d4ff;
$orange-l: #f3d9cb;
$green-l: #c8ffe7;
