// Responsive breakpoints
$tablet-bk: 768px;
$laptop-bk: 960px;

@mixin MQ($media) {
  @if $media == tablet {
    @media only screen and (max-width: $tablet-bk) { @content; }
  }

  @if $media == laptop {
    @media only screen and (max-width: $laptop-bk) { @content; }
  }

  @if $media == retina {
    @media  only screen and (-webkit-min-device-pixel-ratio: 1.3),
      only screen and (-o-min-device-pixel-ratio: 13/10),
      only screen and (min-resolution: 120dpi) { @content; }
  }
}
