.page {
	width: 100vw;
	height: 100vh;
	background-color: rgba($blue, .9);
	position: absolute;
	z-index: 20;
	padding: 30px;
	color: $light;
	overflow-y: auto;

	.page-content {
		max-width: 860px;
		margin: 0 auto;
		padding: 50px 4%;
	}

	.page-title {
		display: block;
		margin-bottom: 60px;
		text-align: center;
		font-size: 24px;
		font-family: $font-silkscreen;
		text-transform: uppercase;
	}

	.credit-group {
		display: block;
		margin-bottom: 20px;
		text-align: center;

		.title {
			font-family: $font-m1mbold;
			margin-bottom: 5px;
		}
	}

	p {
		font-size: 16px;
		font-family: $font-m1mregular;
		line-height: 30px;

		span.bold {
			font-family: $font-m1mbold;
		}
	}

	.credits-mentions {
		font-size: 12px;
	}

	button.close-button {
        // transform: rotate(0);
        height: 30px;
        width: 32px;
        background: url(/images/UI/form-close.png);

        &:hover {
            transform: rotate(180deg);
        }
    }

	a {
		color: $light;
		font-size: 16px;
		text-decoration: none;
	    text-decoration: none;
	    background-image: linear-gradient(to bottom, transparent 50%, $light 50%);
	    background-position: 0 95%;
	    background-repeat: no-repeat;
	    background-size: 100% 2px;
	    padding-bottom: 3px;
	    transition: background .3s ease, color .2s .3s;

	    &:hover {
	    	background-size: 100% 50px;
	    	color: $blue;
	    }
	}
}